# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Array_Rotation 04.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\3 ARRAYS\Array_Rotation 04\.idea\.idea.Array_Rotation 04\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
