# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Inventory 03.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\ExamPrep\Inventory 03\.idea\.idea.Inventory 03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
