# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Problem 2.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\tedof\Documents\GitHub\MidExam\Problem 2\.idea\.idea.Problem 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
