# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ExtractEmails 06.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\9 REGULAR EXPRESSIONS\ExtractEmails 06\.idea\.idea.ExtractEmails 06\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
