# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.NeedForSpeedIII 03.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\FinalExam\NeedForSpeedIII 03\.idea\.idea.NeedForSpeedIII 03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
