# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ShoppingSpree 05.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\More Exercises\ShoppingSpree 05\.idea\.idea.ShoppingSpree 05\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
