# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Vending_Machine 07.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\BASIC_SYNTAX_CONDITIONAL_STATEMENTS_AND_LOOPS\Vending_Machine 07\.idea\.idea.Vending_Machine 07\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
