# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Append_Arrays 07.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\5 Lists\Append_Arrays 07\.idea\.idea.Append_Arrays 07\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
