# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.ReplaceRepeatingChars06.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\8 TEXT PROCESSING\ReplaceRepeatingChars06\.idea\.idea.ReplaceRepeatingChars06\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
