# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Factorial_Division 08.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\4 Methods\Factorial_Division 08\.idea\.idea.Factorial_Division 08\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
