# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Array_Manipulator 11.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\4 Methods\Array_Manipulator 11\.idea\.idea.Array_Manipulator 11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
