# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Company_Users 08.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\7 ASSOCIATIVE ARRAYS\Company_Users 08\.idea\.idea.Company_Users 08\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
