# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Anonymous_Threat 08.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\5 Lists\Anonymous_Threat 08\.idea\.idea.Anonymous_Threat 08\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
