# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Legendary_Farming 03.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\7 ASSOCIATIVE ARRAYS\Legendary_Farming 03\.idea\.idea.Legendary_Farming 03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
