# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TheImitationGame 01.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\FinalExam\TheImitationGame 01\.idea\.idea.TheImitationGame 01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
