# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Kamino_Factory 09.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tedof\Documents\GitHub\SoftUni\3 ARRAYS\Kamino_Factory 09\.idea\.idea.Kamino_Factory 09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
